
body{
    font-family: 'Open Sans', sans-serif;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 100px 0px 150px;
}
.navtitle{
    width: 121px;
    height: 61px;
    font-size: 45px;
    color: #181818;
}
.primarycolore{
    color: #FD6E0A;
}
nav>ul{
    display: flex;
    align-items: center;
    
}
nav li{
   margin-right: 50px;
   list-style: none;
}
nav a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    color:white
}

.header{
    background-color: antiquewhite;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;

}
.banner{
    padding: 30px 30px 0px 100px;
    display: flex;
    justify-content: space-between;

}
.banner-content{
    max-width: 500px;
}
.banner .img{
    width: 700px;
    /* height: 676px; */
    /* padding right: 10px; */
    
}
.header-grocary{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin: 0;
}
.header-title{
    color: #181818;
    font-size: 70px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.header-content{
    color: #757575;
    font-size: 18px;
    /* font-style: normal; */
    font-weight: 400;
}

/* Main section  */
main{
    max-width: 1140px;
    justify-content: space-around;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
/* about sectio  */
.about-title{
    color:  #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
.about-content{
    color:  #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
}

.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}
.about-info-conteiner{
    display: flex;
    justify-content: space-around;
   
}
.about-info{
    text-align: center;
    margin-top: 10px;
}

/* what i do sectio  */
#about-description{
     color: #757575
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 30px 150px;
}
.skill-container{
    display: flex;
    gap: 24px;
}
    .skill{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.resume-colume-title{
    color:  #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.resume-container{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.resume-item-title{
    color: #474747;
font-size: 25px;
font-weight: 700;
margin-bottom: 2px;
}
.resume-item-institude{
    color:  #757575;
font-size: 20px;
font-weight: 600;
}
.resume-item-description{
    color:  #757575;
    font-size: 16px;
    font-weight: 400;
    margin-top: 2px;
}
.resume-container hr{
    margin: 30px;
}
.resume-button{
    text-align: center;
    margin-top: 50px;
}
.foot-sec{
    background-color:#FD6E0A ;
}
footer{
    display: flex;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 110px 230px;
}
.footer-collume{
    width: 50%;
}
.form input[type="text"],input[type="email"],textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 30px;
    border-radius: 5px;
    color: #757575;
    background: #FFF;
    border: 0;
    width: 100%;
}
.social-link a{
    margin-right: 30px;
}