
body{
    font-family: 'Open Sans', sans-serif;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navtitle{
    width: 121px;
    height: 61px;
    font-size: 45px;
}
.primarycolore{
    color: #FD6E0A;
}
nav>ul{
    display: flex;
    align-items: center;
    
}
nav li{
   margin-right: 50px;
   list-style: none;
}
nav a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;
}